section.home {
	background-color: transparent;

	div.photo {
		width: 150px;
		height: 150px;
		background-color: grey;
		background-image: url(../assets/images/me.jpg);
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 100%;
		border: 2px solid #ffffff;
		margin: 50px auto;
	}

	h1 {
		font-family: Rock Salt;
		color: #ffffff;
		font-size: 32px;
		line-height: 2;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
	}
	p {
		text-transform: uppercase;
		text-align: center;
		color: #acacac;
	}
}
