div.photo {
	width: 200px;
	height: 200px;
	background-color: grey;
	border-radius: 100%;
	border: 2px solid #ffffff;
	margin: 100px auto;
}

h1 {
	color: #ffffff;
	font-size: 42px;
	text-transform: uppercase;
	text-align: center;
}
.home p {
	text-transform: uppercase;
	text-align: center;
}

